@charset "UTF-8";

main {
    padding: 25px;
}

main > div.imagens {
    display: flex;
    margin-bottom: 30px;
}

main > div.imagens > img {
    width: 65vw;
}

main > div.imagens > div > img {
    width: 90px;
}

main > div.imagens > div > img.quadro {
    padding: 4px;
    border: 5px solid #323330;
}

main > div.informacoes > p {
    padding: 7px 0px;
}

main > div.informacoes > p > img {
    width: 60px;
    border-radius: 18px;
}

main > div.informacoes > button {
    padding: 10px 30px;
}