@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --maisescura: #242424;
    --marrom: #595248;
    --azulclaro: #DCE4F2;
    --azulcinza: #A8B0BF;
    --cinza: #89888C;

    /* Para texto usar *light* e botões e menu *normal* */
    --fontetexto: 'Red Hat Display' ,'Times New Roman', Times, serif;
    --fontetitulo: 'Kanit','Times New Roman', Times, serif;
    /* Para título de obra *bold* e preço *light* */
    --fontearte: 'Jura','Times New Roman', Times, serif;
}

main > div.classifica {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

main > div.filtro {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

main > div.filtro > div.op {
    width: 110px;
    height: 55px;
    background-color: var(--azulcinza);
    opacity: .7;
    font-weight: bolder;
}

main > div.filtro > div#minimalismo {
    display: flex;
    background-image: url('../testes/minimalismo.jpg');
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

main > div.filtro > div#fotografia {
    display: flex;
    background-image: url('../testes/DALL·E\ 2023-01-13\ 14.40.27\ -\ \ a\ vertical\ photo\ of\ the\ animal\ world\ in\ amazon.png');
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

main > div.filtro > div#abstrata {
    display: flex;
    background-image: url('../testes/DALL·E\ 2023-01-10\ 17.13.40\ -\ \ Create\ a\ Van-Gogh\ style\ painting.png');
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}