@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --maisescura: #242424;
    --marrom: #595248;
    --azulclaro: #DCE4F2;
    --azulcinza: #A8B0BF;
    --cinza: #89888C;

    /* Para texto usar *light* e botões e menu *normal* */
    --fontetexto: 'Red Hat Display' ,'Times New Roman', Times, serif;
    --fontetitulo: 'Kanit','Times New Roman', Times, serif;
    /* Para título de obra *bold* e preço *light* */
    --fontearte: 'Jura','Times New Roman', Times, serif;
}

main {
    margin-bottom: 10vh;
    margin-top: 10vh;
}

main > h2 {
    text-align: center;
}

main > section.campo-de-verificacao {
    font-size: 3.5vw;
}

main > section.info {
    display: flex;
    justify-content: center;
}

main > section.info > form > label {
    display: none; 
}

main > section > form > input {
    border-color: var(--azulclaro);
    border-right: none;
    border-left: none;
    border-top: none;
    border-width: 1px;
    width: 60vw;
    height: 30px;
    font-size: .9em;
    margin: 6px;
}

main > section > form > select {
    border-color: var(--azulclaro);
    border-right: none;
    border-left: none;
    border-top: none;
    border-width: 1px;
    width: 60vw;
    height: 30px;
    font-size: .9em;
    margin: 6px;
    color: var(--cinza);
}

main > section.info > form > div {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

main > section.info > form > div > input[type = submit] {
    width: 80px;
    border: 1px solid var(--marrom);
    border-radius: 20px;
    padding: 3px 10px;
    background-color: #89888c28;
}

main > section.info > form > div > div > label {
    font-size: .7em;
}

main > section.info > form > div > a {
    text-decoration: none;
    color: var(--cinza);
    font-size: .9em;
}

main > p {
    padding: 30px;
    text-align: center;
    font-size: .9em;
}